/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/public/
/pgdata/
/log/

# rspec failure tracking
.rspec_status

# Ignore master key for decrypting credentials and more.
/config/master.key
