<%#
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Header</title>
  <style>
    body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .logo img {
      height: 50px;
    }

    .menu-icon {
      font-size: 24px;
      cursor: pointer;
    }

    .sidebar {
      position: fixed;
      top: 0;
      right: -300px;
      width: 300px;
      height: 100%;
      background-color: #fff;
      box-shadow: -2px 0 5px rgba(0,0,0,0.1);
      transition: right 0.3s ease;
      padding: 20px;
    }

    .sidebar.open {
      right: 0;
    }

    .close-btn {
      display: flex;
      justify-content: flex-end;
    }

    .close-btn svg {
      cursor: pointer;
    }

    .sidebar a {
      display: block;
      padding: 10px 0;
      color: #000;
      text-decoration: none;
      font-size: 18px;
    }

    .new-entry {
      margin-top: 20px;
      display: block;
      background-color: #007bff;
      color: #fff;
      text-align: center;
      padding: 10px;
      border-radius: 5px;
      text-decoration: none;
      font-size: 18px;
    }
  </style>
</head>
<body>

  <div class="header">
    <div class="logo">
      <img src="path/to/logo.png" alt="Logo">
    </div>
    <div class="menu-icon" id="menu-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 6h18v2H3zm0 5h18v2H3zm0 5h18v2H3z"/></svg>
    </div>
  </div>

  <div class="sidebar" id="sidebar">
    <div class="close-btn" id="close-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
    </div>
    <a href="#">All Entries</a>
    <a href="#">Dashboards</a>
    <a href="#">Queries</a>
    <a href="#">Checks</a>
    <a href="#" class="new-entry">New Entry →</a>
  </div>

  <script>
    document.getElementById('menu-icon').addEventListener('click', function() {
      document.getElementById('sidebar').classList.add('open');
    });

    document.getElementById('close-btn').addEventListener('click', function() {
      document.getElementById('sidebar').classList.remove('open');
    });
  </script>

</body>
</html>
%>
<div id="queries">
  
  <div class="header">
    <%# TODO IAN get the logo rendering %>
    <div class="logo">
      <img src="path/to/logo.png" alt="Logo">
    </div>
    <div class="menu-icon" id="menu-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 6h18v2H3zm0 5h18v2H3zm0 5h18v2H3z"/></svg>
    </div>
  </div>

  <div class="sidebar" id="sidebar">
    <div class="close-btn" id="close-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
    </div>
    <a href="#">All Entries</a>
    <a href="#">Dashboards</a>
    <a href="#">Queries</a>
    <a href="#">Checks</a>
    <a href="#" class="new-entry">New Entry →</a>
  </div>

  <%# TODO IAN get the hamburger popover working %>
  <div class="card" style="margin-top: 80px;">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <% if Blazer.user_class %>
            <th style="width: 20%; text-align: right;">Mastermind</th>
          <% end%>
        </tr>
      </thead>
      <tbody class="list" v-cloak>
        <tr v-for="query in visibleItems">
          <td>
            <a :href="itemPath(query)" :class="{ dashboard: query.dashboard }">{{ query.name }}</a>
            <span class="vars">{{ query.vars }}</span>
          </td>
          <% if Blazer.user_class %>
            <td class="creator">{{ query.creator }}</td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>

  <p v-if="more" class="text-muted">Loading...</p>
</div>

<script>
  <%= blazer_js_var "dashboards", @dashboards %>
  <%= blazer_js_var "queries", @queries %>
  <%= blazer_js_var "more", @more %>

  var prepareSearch = function (list) {
    var i, q, searchStr
    for (i = 0; i < list.length; i++) {
      q = list[i]
      searchStr = q.name + q.creator
      if (q.creator === "You") {
        searchStr += "mine me"
      }
      q.searchStr = prepareQuery(searchStr)
    }
  }

  var prepareQuery = function (str) {
    return str.toLowerCase()
  }

  var app = new Vue({
    el: "#queries",
    data: {
      searchTerm: "",
      more: more,
      updateCounter: 0
    },
    created: function() {
      this.listItems = dashboards.concat(queries)

      prepareSearch(this.listItems)

      this.queryIds = {}
      for (i = 0; i < queries.length; i++) {
        this.queryIds[queries[i].id] = true
      }

      if (this.more) {
        var _this = this

        $.getJSON(Routes.queries_path(), function (data) {
          var i, j, newValues, val, size = 500;

          var newValues = []
          for (j = 0; j < data.length; j++) {
            val = data[j]
            if (val && !_this.queryIds[val.id]) {
              newValues.push(val)
            }
          }

          prepareSearch(newValues)

          _this.listItems = _this.listItems.concat(newValues)
          _this.more = false
          // hack to get to update
          _this.updateCounter++
        })
      }
    },
    computed: {
      visibleItems: function () {
        // hack to get to update
        this.updateCounter

        var pageSize = 200
        var q, i

        if (this.searchTerm.length > 0) {
          var term = prepareQuery(this.searchTerm)
          var items = []
          var fuzzyItems = []
          for (i = 0; i < this.listItems.length; i++) {
            q = this.listItems[i]
            if (q.searchStr.indexOf(term) !== -1) {
              items.push(q)
              if (items.length == pageSize) {
                break
              }
            } else if (fuzzysearch(term, q.searchStr)) {
              fuzzyItems.push(q)
            }
          }
          return items.concat(fuzzyItems).slice(0, pageSize)
        } else {
          return this.listItems.slice(0, pageSize)
        }
      }
    },
    methods: {
      itemPath: function (item) {
        if (item.dashboard) {
          return Routes.dashboard_path(item.to_param)
        } else {
          return Routes.query_path(item.to_param)
        }
      }
    },
    directives: {
      focus: {
        inserted: function (el) {
          el.focus()
        }
      }
    }
  })
  // TODO IAN get this js working for the popover
  document.getElementById('menu-icon').addEventListener('click', function() {
    document.getElementById('sidebar').classList.add('open');
  });

  document.getElementById('close-btn').addEventListener('click', function() {
    document.getElementById('sidebar').classList.remove('open');
  });
</script>