
body {
  background-color: #D3D3D3;
}

table{
  table-layout: fixed;
}

.blazer-content {
  padding-bottom: 2.5rem;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

#results * {
  background-color: #f5f5f5;
  padding-left: 10px;
  padding-right: 10px;
}

.results-container {
  margin-top: 20px;
}

#branded-table {
  background-color: #f5f5f5;
}

.chart-container {
  background-color: #f5f5f5;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-default .navbar-nav > li > a {
  color:  #2EB1E6;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color:  #2EB1E6;
}

.dropdown {
  background-color: #606060;
}

.btn-default {
  background-color: #f8f8f8;
  border-color: #f8f8f8;
  color:  #2EB1E6;
}

.btn-default:hover {
  color: #2EB1E6;
  background-color: #f8f8f8;
  border-color:#2EB1E6;
}

.btn-default:active:focus {
  color: #2EB1E6;
  background-color: #f8f8f8;
  border-color:#2EB1E6;
}

/* .navbar {
  max-height: 50px;
} */