

body {
  background-color: #D3D3D3;
}

#results * {
  background-color: #f5f5f5;
  padding: 10px;
}

.results-container {
  margin-top: 20px;
}

.results-table thead {
  background-color: #f5f5f5;
}

.navbar-button {
  color: #777;
  margin-right: 20px;
}
